#Main{
    -fx-background-image: url("fitness-girl.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;  
}
#NewMember{
    -fx-background-image: url("running-girl.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;  
}
#Edit{
    -fx-background-image: url("running-girl.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;    
}
#List{
    -fx-background-image: url("bench.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;      
}
.button{
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-background-radius: 12, 10;
    -fx-background-color:  black;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: red;
}

.button:focused {
    -fx-border-color: black, transparent;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 12, 10;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}
.button:hover{
    -fx-background-color:transparent;
    -fx-border-style: solid;
    -fx-border-color:white;
    -fx-border-width:3;
    -fx-border-radius: 12, 10;
    -fx-text-fill:red;
}
.br:pressed{
    -fx-border-color:red;
}
